# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Prisma
packages/db/prisma/migrations/dev.db*
packages/db/.env

# Uploads locais
uploads/
